.header {
    background-image: url('../images/desktop/image-header.jpg');
    height: 100vh;
    min-height: 230px;
}
.egg {
    background-image: url('../images/desktop/image-transform.jpg');
}
.glass {
    background-image: url('../images/desktop/image-stand-out.jpg');
}
.graphicDesign {
    background-image: url('../images/desktop/image-graphic-design.jpg');
}
.photography {
    background-image: url('../images/desktop/image-photography.jpg');
}
.bottle {
    background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
}
.orange {
    background-image: url('../images/desktop/image-gallery-orange.jpg');
}
.cone {
    background-image: url('../images/desktop/image-gallery-cone.jpg');
}
.cubes {
    background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
}
.bg-img {
    background-position: center;
    background-size: cover;
}
body{
    min-width: 180px;
    width: auto !important;
    width: 180px;
}
h3 {
    font-family: Barlow;
    font-weight: 800;
    font-size: 2.2rem;
}

/* first part (header) */
.header h1 {
    margin-top: 10vh;
    letter-spacing: 0.25rem;
    font-size: 3rem;
    font-family: Fraunces;
}
.header .navBar {
    position: relative;
}

.header a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}
.header a:hover {
    color: var(--white);
}

.hamburger {
    display: none;
}

.header .links {
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.header .link:hover {
    cursor: pointer;
}

.header .contact {
    width: fit-content;
    background-color: var(--white);
    transition: 0.3s;
}
.header .contact a {
    color: var(--darkDarkBlue);
    font-family: Fraunces;
}
.header .contact:hover {
    background-color: #71cffb;
}
.header .contact:hover a {
    color: var(--white);
}

/* second part (services) */
#services .article {
    padding: 3rem;
}
#services p {
    font-family: Barlow;
    opacity: 0.8;
}
#services h2 {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 2rem;
    color: var(--darkDarkBlue);
}
.transform p, .standOut p {
    color: var(--darkGray2);
    font-weight: 500;
}
.transform .more, .standOut .more {
    width: fit-content;
    color: var(--darkDarkBlue);
    font-family: Fraunces;
    position: relative;
    
}
#services .more:hover {
   cursor: pointer; 
}
#services .more::before {
    content: '';
    position: absolute;
    width: 114%;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    right: -7%;
    bottom: 0.5px;
    transition: 0.3s;
    z-index: -1;
}
.transform .more::before {
    border-color: hsla(51, 100%, 49%, 0.2);
}
.transform .more:hover::before {
    border-color: hsla(51, 100%, 49%, 1);
}
.standOut .more::before {
    border-color: hsla(7, 99%, 70%, 0.2);
}
.standOut .more:hover::before {
    border-color: hsla(7, 99%, 70%, 1);
}

.graphicDesign, .photography {
    min-height: 450px;
}
.graphicPhoto .text {
    padding-top: 18rem;
    max-width: 350px;
}
.graphicPhoto h5 {
    font-family: Fraunces;
}
.graphicDesign {
    color: var(--darkCyan);
}
.photography {
    color: var(--darkBlue);
}

/* forth part (projects) */
.photos .bg-img{
    height: 260px;
}

/* fifth part (contact) */
#contact {
    background-color: hsl(167, 44%, 70%);
    color: var(--darkCyan);
}
#contact h3 {
    opacity: 0.9;
}
#contact ul{
    font-family: Barlow;
    opacity: 0.8;
    max-width: 350px;
}
#contact .social {
    max-width: 180px;
}
#contact a {
    text-decoration: none;
    color: var(--darkCyan);
    transition: 0.3s;
}
#contact svg path{
    transition: 0.3s;
}
#contact svg:hover, #contact a:hover {
    cursor: pointer;
    color: var(--white);
}
#contact svg:hover path {
    fill: white;
}

/* last part */
.attribution {
    font-size: 11px;
    text-align: center;
    background-color: hsl(167, 44%, 70%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
